@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url('../fontes/idroid.otf') format(opentype);
    font-style: normal;
}

/*a pseudo-classe :root define as configurações que vão servir para todo o documento
Para usar essas definições é necessario a função var() */
:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte-padrao: Arial,Helvetica,sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
        
}
/*
a.externo::after{
    content: '\0020\1F517'
}
*/

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5) );
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.411);
}

header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
    
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.299);
}
nav > a{
    text-decoration: none;
    color: var(--cor0);
    padding: 10px;
    transition-duration: .4s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 400px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 2ch;
    line-height: 1.2em;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    font-size: 1.2em;
    font-weight: normal;
    text-indent: 8px;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), white) ;
}

main img{
    display: block;
    margin: auto;
    width: 80%;
}

main img.pequena{
    max-width: 380px;
}

div.video{
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 10px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 3%;
    left: 2.5%;
    right: 3%;
    bottom: 3%;
    width: 95%;
    height: 95%;
}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.268);
}

aside a{
    background-color: transparent;
}

aside h3{
    /*font-family: var(--fonte-padrao);*/
    background-color: var(--cor3);
    color: white;
    padding: 8px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

/*
    list-style-type:  //modifica o marcador da lista
    columns: 2; //colocar em 2 colunas
    list-style-position: inside; //coloca os marcadores dentro da caixa onde esta a lista
*/

ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 15px;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}